{% extends 'core/base.html' %}

{% block title %} Crear nuevo usuario paciente {% endblock %}
{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Nuevo usuario paciente</h2>
        </div>
        <div class="car-body">
            {{ form.as_table }}
        </div>
        <div class="card-footer d-flex justify-content-between">
            <button type="submit" class="btn btn-success">✅Guardar</button>
            <a href="{% url 'sistema:pacientes-list' %}" class="btn btn-outline-info">❌Cancelar</a>
        </div>
    </div>
</form>
{% endblock %}